.container {
    display: flex;
    gap: 20px;
}
.imagen {
  height: 100px;
  width: 100px;
}

.panel {
  flex: 1;
}

.botonAgregarProducto {
  font-weight: 600;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.productoItem {
  padding: 10px; 
  margin: 10px 0; 
  border: 1px solid gray; 
  cursor: pointer; 
  background-color: white; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}